<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/static/register/css/index.css">
  <link rel="stylesheet" href="/static/register/css/toast.css">
</head>
<body>
<div class="register-container">
  <h2>Register</h2>
  <h5 id="splash_welcome">Welcome new user!</h5>
  <form id="form">
    <label>
      <input type="text" name="username" placeholder="Username" required>
    </label>
    <label>
      <input type="password" name="password" placeholder="Password" required>
    </label>
    <button type="submit">Register</button>
  </form>
  <label>
    <a id="login_btn" href="/login">Have an account? Login instead!</a>
  </label>
  <script src="/static/register/js/toast.js"></script>
  <script src="/static/register/js/register.js"></script>
</div>
</body>
</html>
